
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    width: 90px;
    height: 90px;
    margin: 0 0 1rem 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 6rem 0 0.5rem 0;
    color: #588157;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #588157;
}
.account-settings .about p {
    font-size: 0.825rem;
    color: #9fa8b9;
}
#profile-container {
    margin-bottom: 5rem;
}
#small-heading {
    color: #588157!important;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #588157;
}
.form-group {
    margin-bottom: 28px;
}
.text-field {
    padding-top: 0px;
    background: #ffffff;
    color: grey;
}
.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 0.5rem;
}
